<!--
  Generated template for the ListviewtarifPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title> pencarian tarif {{tarif}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
          <table>
            <thead>
              <!-- <th>Nama Tarif</th>
              <th>Nama Contoh</th>
              <th>Tarif Industri</th>
              <th>Tarif Mahasiswa</th> -->
            </thead>
            <tbody>
              <tr *ngFor="let item of datatarif | searchtarif:tarif">
                <td *ngIf="item === null">Data Tidak Ditemukan</td>
                <td>{{item.Uraian_parameter}}</td>
                <td>{{item.Uraian_contoh}}</td>
                <td>{{item.Tarif_industri}}</td>
                <td>{{item.Tarif_mahasiswa}}</td>
              </tr>
            </tbody>
          </table>
    </ion-card-content>
  </ion-card>
    
    <!-- <ion-list>
        <ion-item *ngFor="let item of datatarif">
          <h2>{{item.no_spk}}</h2>
          <p>{{item.status_pc}}</p>
        </ion-item>
      </ion-list> -->
</ion-content>
<footer></footer>