page-home {
    .tengah{
        text-align: center;
      }
      .custom{
          text-align:center;
          font-size: 13px;
      } 
		.footer  {
			height: 35px !important;
		}
		.toolbar-md
		{
			padding: 2px;
			min-height: 35px;
		}
}
