<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beranda BBPK</ion-title>
</ion-navbar>
<ion-navbar color="danger">
    <ion-toolbar no-border-top>
        <ion-searchbar #searchbar [(ngModel)]="searchString" (search)="searchByKeyword()" showCancelButton="true">
        </ion-searchbar>
      </ion-toolbar>
</ion-navbar>
</ion-header>

<ion-content padding> 
  
    <ion-card  *ngIf="notifikasi">
      <ion-card-content>
    <!-- <div class="row header">
        <div class="col">Nomor SPK</div>
        <div class="col">Status PC</div>
        <div class="col">Status KSIE</div>
        <div class="col">Status Lab</div>
        <div class="col">Status LHU</div>
      </div>
      <div class="row" *ngFor="let item of datanotifikasi">
        <div class="col">{{item.no_spk}}</div>
        <div class="col">{{item.status_pc}}</div>
        <div class="col">{{item.status_kasiepengujian}}</div>
        <div class="col">{{item.status_korlab}}</div>
        <div class="col">123</div>
      </div> -->
      <div style="overflow-x:auto; font-size:10px;">
      <table  border=1>
          <thead>
            <th style="width:100px;">No. SPK</th>
            <th style="width:50px;">Status PC</th>
            <th style="width:50px;">Status KASIE</th>
            <th style="width:50px;">Status Lab</th>
            <th style="width:50px;">Status LHU</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of datanotifikasi">
              <td style="text-align:center;">{{item.no_spk}}</td>
              <td style="text-align:center;">{{item.status_pc}}</td>
              <td style="text-align:center;">{{item.status_kasiepengujian}}</td>
              <td style="text-align:center;">{{item.status_korlab}}</td>
              <td style="text-align:center;">{{item.status_lhu}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
    </ion-card>
  <ion-card>
      
    <ion-card-header>
     <ion-icon name="barcode"></ion-icon> Progress SPK
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
          <ion-item>
            <ion-label floating>No SPK</ion-label>
            <ion-input type="text" [(ngModel)]="nospk"></ion-input>
          </ion-item>
           
        </ion-list>
    </ion-card-content>
    <div padding> 
      <button ion-button full icon-start  (tap)="viewprogress()">
        <ion-icon  name="eye" ></ion-icon> 
        Lihat Progress
      </button>
    </div>
  </ion-card>
  <ion-card>
  
    <ion-card-header>
      <ion-icon name="stats"></ion-icon> Pencarian Tarif
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
          <ion-item>
            <ion-label floating>Nama Tarif</ion-label>
            <ion-input type="text" [(ngModel)]="tarif"></ion-input>
          </ion-item>
           
        </ion-list>
    </ion-card-content>
    <div padding> 
      <button ion-button full icon-start (tap)="viewtarif()" >
        <ion-icon  name="key"></ion-icon> 
        Cari Tarif
      </button>
    </div>
  </ion-card>
</ion-content>
<footer></footer>