page-news {
    .custom{
        text-align: center;
        font-size:13px;
    }
    ion-content{ 
        background-image: url('../assets/imgs/background.jpeg'); 
          background-repeat: no-repeat;
          background-position: center;
            background-size: cover;
        }
}
