page-loginform {
    ion-title{
        text-align: center;
        //background-color: red;
    }
    .img-controll{
        display: block;
        margin: auto;
        width: 20%;
    }
    ion-card-header{
        text-align: center;
    }
    ion-content{ 
        background-image: url('../assets/imgs/background.jpeg'); 
          background-repeat: no-repeat;
          background-position: center;
            background-size: cover;
        }
}
