page-searchartikel {
    ion-content{ 
        background-image: url('../assets/imgs/background.jpeg'); 
          background-repeat: no-repeat;
          background-position: center;
            background-size: cover;
        }
}
